{% extends "main.html" %}
{% block content %}

<script src="{{url_for('static', filename='three/three.js')}}"></script>
<script src="{{url_for('static', filename='three/OrbitControls.js')}}"></script>

<div id="solarSystem"></div>




<script type="text/javascript">
$(document).ready(function(){



// WEBGL SECTION___3d test 2_________________________________________________________


var parent, renderer, scene, camera, controls;

init();
animate();

function init() {

    // info
    info = document.createElement( 'solarSystem' );
    info.style.position = 'absolute';
    info.style.top = '30px';
    info.style.width = '100%';
    info.style.textAlign = 'center';
    info.style.color = '#fff';
    info.style.fontWeight = 'bold';
    info.style.backgroundColor = 'transparent';
    info.style.zIndex = '1';
    info.style.fontFamily = 'Monospace';
    info.innerHTML = 'Drag mouse to rotate camera; Scroll to zoom';
    document.body.appendChild( info );

    // renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );

    // scene
    scene = new THREE.Scene();
    
    // camera
    camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 100 );
    camera.position.set( 20, 20, 20 );

    // controls
    controls = new THREE.OrbitControls( camera );
    controls.minDistance = 10;
    controls.maxDistance = 50;
    
    // axes
    scene.add( new THREE.AxisHelper( 20 ) );

    // geometry
    var geometry = new THREE.SphereGeometry( 1, 50, 50, 0, Math.PI * 2, 0, Math.PI * 2);
    var sunny = new THREE.SphereGeometry( 1.5, 50, 50, 0, Math.PI * 2, 0, Math.PI * 2);

    
    // material
    var material = new THREE.MeshBasicMaterial( {
        color: 0xffffff, 
    } );
    var sunMaterial = new THREE.MeshBasicMaterial( {
        color: 0xF7FE2E, 
    } );
    
    // parent
    parent = new THREE.Object3D();
    scene.add( parent );


    // pivots
    var pivot1 = new THREE.Object3D();
    var pivot2 = new THREE.Object3D();
    var pivot3 = new THREE.Object3D();
    pivot1.rotation.z = 0;
    pivot2.rotation.z = 2 * Math.PI / 3;
    pivot3.rotation.z = 4 * Math.PI / 3;;
    parent.add( pivot1 );
    parent.add( pivot2 );
    parent.add( pivot3 );

    // mesh
    var mesh1 = new THREE.Mesh( geometry, material );
    var mesh2 = new THREE.Mesh( geometry, material );
    var mesh3 = new THREE.Mesh( geometry, material );
    var meshsun = new THREE.Mesh( sunny, sunMaterial );
    mesh1.position.y = 5;
    mesh2.position.y = 5;
    mesh3.position.y = 5;
    pivot1.add( mesh1 );
    pivot2.add( mesh2 );
    pivot3.add( mesh3 );
    parent.add(meshsun);
    
}

function animate() {

    requestAnimationFrame( animate );

    parent.rotation.z += 0.01;
    
    controls.update();

    renderer.render( scene, camera );

}




});


</script>

{% endblock %}