{% extends "main.html" %}
{% block content %}

<style type="text/css">



#tabs{
    width: 50%;
    float: left;
    overflow: hidden;
}
#recipeDetailsDiv{
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    padding-left: 10px;
    position: relative;
    font-size: 1.3em;

}
#recipeDetailsDiv h3/*Name*/{
    text-align: center;
    text-decoration: underline;
}
#craftBtn/*Craft button*/{
    position: absolute;
    text-align: center;
    top: 250px;
    left: 120px;
    display: none;

}

table{

}


</style>



<h1>Crafting</h1>

<div id="tabs">
    <ul>
        <li><a href="#tab-1">Tab 1</a></li>
        <li><a href="#tab-2">Tab 2</a></li>
        <li><a href="#tab-3">Tab 3</a></li>
        <li><a href="#tab-4">Tab 4</a></li>
        <li><a href="#tab-5">Tab 5</a></li>
    </ul>

<!--TAB-1____RECIPES_______________________________________-->
    <div id="tab-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr> 
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr class='clickableRow' \
                data-result="{{ recipe.result }}"\
                data-name="{{ recipe.name }}"\
                data-type="{{ recipe.type }}"\
                data-prereq="{{ recipe.prereq }}"\
                data-desc="{{ recipe.desc }}"\
                data-ing_1="{{ recipe.ing_1 }}"\
                data-ing_qty_1="{{ recipe.ing_qty_1 }}"\
                data-ing_2="{{ recipe.ing_2 }}"\
                data-ing_qty_2="{{ recipe.ing_qty_2 }}"\>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--TAB-2____________________________________________________-->
    <div id="tab-2">
    	Tab 2
    </div>
    <div id="tab-3">
    	Tab 3
    </div>
    <div id="tab-4">
    	Tab 4
    </div>
    <div id="tab-5">
    	Tab 5
    </div>

</div><!--Tabs-->


<!--Recipe details____________________________________________-->
<div id="recipeDetailsDiv">
    
    <h3 id="clickedName">Select a recipe</h3>
    <span id="clickedType"></span></br>
    <span id="clickedPrereq"></span></br>
    <span id="clickedIng_1"></span>  <span id="clickedIng_qty_1"></span></br>
    <span id="clickedIng_2"></span>  <span id="clickedIng_qty_2"></span></br>
    <span id="clickedDesc"></span></br>

    <button id="craftBtn" class="btn btn-success">Craft</button>
    
</div>


<script type="text/javascript">

$( "#tabs" ).tabs();

console.log($(".clickableRow").data("result"));

$(".clickableRow").click(function(){

    clickedResult = $(this).data("result");
    clickedName = $(this).data("name");
    clickedType = $(this).data("type");
    clickedPrereq = $(this).data("prereq");
    clickedDesc = $(this).data("desc");
    clickedIng_1 = $(this).data("ing_1");
    clickedIng_qty_1 = $(this).data("ing_qty_1");
    clickedIng_2 = $(this).data("ing_2");
    clickedIng_qty_2 = $(this).data("ing_qty_2");
    console.log(clickedResult);

    
    $("#clickedName").html(clickedName);
    $("#clickedType").html("Type: " + clickedType);
    $("#clickedPrereq").html("Prerequisite: " + clickedPrereq);
    $("#clickedDesc").html("Description: " + clickedDesc);
    $("#clickedIng_1").html(clickedIng_1 + ": ");
    $("#clickedIng_qty_1").html(clickedIng_qty_1);
    $("#clickedIng_2").html(clickedIng_2 + ": ");
    $("#clickedIng_qty_2").html(clickedIng_qty_2);

    //Display craft button
    $("#craftBtn").css("display", "block");

    
});

//This calls a python function to craft the item.

$("#craftBtn").on("click", function(){
        clickedIng_1 = $(this).data("ing_1");
        clickedIng_2 = $(this).data("ing_2");

        $.ajax({
        type: 'POST',
        url: '/craftProcess/' + clickedResult,
        success: function(data){
            obj = JSON.parse(data)
            console.log(obj.stringMessage);
            $("#" + clickedIng_1).html(obj.newVal1);
            $("#" + clickedIng_2).html(obj.newVal2);
            
            //location.reload();
        }
    });
});




</script>

{% endblock %}