{% extends "home.html" %}
{% block content %}

<style type="text/css">

body{
	text-align: center;
}

</style>


	<div id="main" class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Bienvenue au {{title}}</h1>
			</div>
		</div>
		
		<div id="login" class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h2>Connectez-vous</h2>
				
				<form action="" method="post">
					<label>Nom :</label>
						<input id="name" name="username" placeholder="username" type="text"><br>
					<label>Mot de passe :</label>
						<input id="password" name="password" placeholder="**********" type="password"><br>

					<input class="btn btn-success" type="submit" value="Login">
				</form>
				{% if error %}
				<p>Error: {{ error }}</p>
				{% endif %}

				{% for message in get_flashed_messages() %}
					{{ message }}
				{% endfor %}
					
			</div>
		</div>
	</div>
	
{% endblock %}