{% extends "main.html" %}
{% block content %}

<style type="text/css">



img{

}
#mapFrame{
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border: 1px solid black;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#mapFrame img{
	overflow: hidden;
	position: absolute;
	top: -100px;
	left: -200px;



}

</style>

<section>



<!--
<button class="region" value="water">Water</button>
<button class="region" value="mine">Mine</button>
-->
<br/><br/>


<div id="mapFrame">
	<img id="mapFrameImg" src="{{url_for('static', filename='img/mainmap.PNG')}}" usemap="#mainMap"/>
</div>
<div></div>

<map name="mainMap">
  <area class="region" shape="poly" coords="800,0,800,194,670,194,670,0" alt="water" data-region-type="water" title="Water">
  <area class="region" shape="poly" coords="0,350,57,356,102,383,161,390,219,430,224,479,0,479" alt="rock" data-region-type="mine" title="Mine">
</map>

<div id="accordion">
  	<h3>Section 1</h3>
	  <div>
		<p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
	  </div>
  	<h3>Section 2</h3>
	<div>
		<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
	</div>
    <h3>Section 3</h3>
	<div>
		<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
		<ul>
		  <li>List item one</li>
		  <li>List item two</li>
		  <li>List item three</li>
		</ul>
	</div>
    <h3>Section 4</h3>
	<div>
		<p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
	</div>
</div>


<script type="text/javascript">

$(document).ready(function(){

$( ".region").tooltip({
	track: true
});

$( "#mapFrameImg" ).draggable({
        drag: function(event, ui) {
        if (ui.position.top > 0) {
            ui.position.top = 0;
        }
        var maxtop = ui.helper.parent().height() - ui.helper.height();
        if ( ui.position.top < maxtop) {
            ui.position.top = maxtop;
        }
        if ( ui.position.left > 0) {
            ui.position.left = 0;
        }
        var maxleft = ui.helper.parent().width() - ui.helper.width();
        if ( ui.position.left < maxleft) {
            ui.position.left = maxleft;
        }
    }
});

	$( "#accordion" ).accordion({
		collapsible: true
	});

function gather(type){
	
}

//This calls a python function to add mats.
$('.region').click(function(){
	clickedRegion = $(this).data("region-type");
	console.log(clickedRegion);
  	$.ajax({
	  	type: 'POST',
	  	url: '/gather/' + clickedRegion,
	  	success: function(data){
	  		obj = JSON.parse(data)
	  		//console.log(obj);
			$("#" +  obj.finding  ).html(obj.newval);

	  	}
  	});
});

});//doc ready

</script>

</section>

{% endblock %}